<br><br>

<div id="banner1"class="swiper-container" >
    
    <div class="swiper-wrapper">
        
        <div class="swiper-slide"*ngFor="let img of images" >
            <img [src]="img" alt="banner image">
        </div>
    </div>

    
</div>
<br><br>

<div class="swiper-container" >
    
    <div class="swiper-wrapper">
            
        <div class="swiper-slide"*ngFor="let gif of gifs" >
            <img [src]="gif" alt="banner image2">
        </div>
    </div>
         
</div>

    
